{% extends 'base.html' %}
{% block content %}

<h1>Add Game</h1>

<form method="post" action="{% url 'add_game' %}">
  {% csrf_token %}
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required><br><br>
  <label for="platforms">Platforms:</label><br>
  <select name="platforms" multiple>
    {% for platform in platforms %}
      <option value="{{ platform.id }}">{{ platform.name }}</option>
    {% endfor %}
  </select><br><br>
  <button type="submit">Add Game</button>
</form>

{% endblock %}