{% extends 'base.html' %}
{% block content %}
<h1>Profile</h1>

<p>Username: {{ user_profile.user.username }}</p>
<p>Games Owned: {{ games_owned.count }}</p>
<p>Platforms:</p>
{% if user_profile == request.user.profile %}
    {% for platform in user_profile.platforms.all %}
        <p>{{ platform.name }}</p>
        <a href="{% url 'dissociate_platform' platform.id %}">Remove</a>
    {% endfor %}
{% endif %}

<h2>Games Collection</h2>
<div class="card-container">
  {% for game in games_owned %}
    <div class="card">
      <div class="card-body">
        <h6>{{ game.name }}</h6>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}