{% extends 'base.html' %}

{% block content %}
<div class="profile-header">
    <div class="profile-image-container">
        {% if user_profile.profile_image %}
            <img class="profile-image" src="{{ user_profile.profile_image.url }}" alt="Profile Image">
        {% else %}
        <img class="default-profile-image" src="/static/imgs/default-pic.JPG" alt="Default Profile Image">
        {% endif %}
    </div>
    <h1>{{ user_profile.user.username }}</h1>
</div>

<p>Games Owned: {{ games_owned.count }}</p>
<p>Platforms:</p>
{% if user_profile == request.user.profile %}
    {% for platform in user_profile.platforms.all %}
        <p>{{ platform.name }}</p>
        <a href="{% url 'dissociate_platform' platform.id %}">Remove</a>
    {% endfor %}
{% else %}
    {% for platform in user_profile.platforms.all %}
        <p>{{ platform.name }}</p>
    {% endfor %}
{% endif %}

{% if user_profile == request.user.profile %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_profile_image">Upload Profile Picture:</label>
        <input type="file" name="profile_image" id="id_profile_image">
        <button type="submit">Upload</button>
    </form>
{% endif %}

<h2>Games Collection</h2>
<div class="card-container">
    {% for game in games_owned %}
        <div class="card">
            <div class="card-body">
              <h6><a href="{{ game.url }}" target="_blank">{{ game.name }}</a></h6>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}