{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Looking For Gamers</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <div>
                <ul>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'profile' username=request.user.username %}">Profile</a></li>
                  <li><a href="{% url 'add_platform' %}">Add Platform</a></li>
                  <li><a href="{% url 'add_game' %}">Add Game</a></li>
                    <li>
                      <a href="#">
                        <form method="post" action="{% url 'logout' %}">
                          {% csrf_token %}
                          <button type="submit" class="submit-link">Log Out</button>
                        </form>
                      </a>
                    </li>
                  {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                  </ul>
              </div>
          </nav>
          {% if user.is_authenticated and request.path != '/' %}
          <div class="search-bar">
              <form method="get" action="{% url 'user_search' %}">
                  <input type="text" name="query" placeholder="Search for players...">
                  <button type="submit">Search</button>
              </form>
          </div>
          {% endif %}
      </header>
      <main class="container">
          {% block content %}
          {% endblock %}
      </main>
      <footer class="page-footer">
  
      </footer>
  </body>
  </html>