* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SF Atarian System';
  src: url('css/fonts/SF Atarian System.ttf') format('ttf');
}


body {
  font-family: 'SF Atarian System', sans-serif;
  background-image: url("imgs/lfg_background.png");
}

.profile-header h1 {
  font-family: 'Neuropol X', sans-serif;
  font-weight: bold;
}

header {
  /* background-color: #ec7c2c; */
  background-image: url("imgs/header_background.jpg");
  background-position: center;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: right;
  font-size: 30px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 30px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}


.container {
  margin-top: 20px;
}


.games-owned {
  font-weight: bold;
}

.platforms-heading {
  font-style: italic;
}

.platform-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 250px;
  height: 50px;
  border: 2px solid #000;
  padding: 20px;
  background-color: #f0f0f0;
}


.platform-name {
  color: rgb(14, 76, 43);
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.remove-link {
  color: red;
  margin-left: 30px;
}
