* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-image: url("imgs/lfg_background.png");
}

/* Header styles */
header {
  /* background-color: #ec7c2c; */
  background-image: url("imgs/header_background.jpg");
  background-position: center;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: right;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 30px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Main styles */
.container {
  margin-top: 20px;
}


.games-owned {
  font-weight: bold;
}

.platforms-heading {
  font-style: italic;
}

.platform-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 250px; /* Set the width of the box */
  height: 50px; /* Set the height of the box */
  border: 2px solid #000; /* Add a border around the box */
  padding: 20px; /* Add padding inside the box */
  background-color: #f0f0f0; /* Set the background color of the box */
}


.platform-name {
  color: rgb(14, 76, 43);
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.remove-link {
  color: red;
  margin-left: 30px;
}
