* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color:#ccc;
}

@font-face {
  font-family: "SF Atarian System";
  src: url("css/fonts/SF Atarian System.ttf") format("ttf");
}

body {
  font-family: "SF Atarian System", sans-serif;
  background-image: url("imgs/pzCuLma.png");
  color: #f0f0f0;
}

.profile-header h1 {
  font-family: "Neuropol X", sans-serif;
  font-weight: bold;
}

.profile-image-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
}

.profile-image {
  width: 100%;
  height: auto;
}

header {
  background-image: url("imgs/header_background.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: right;
  font-size: 30px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 30px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.container {
  margin-top: 20px;
}

.games-owned {
  font-weight: bold;
}

.card {
  width: 200px;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  position: relative;
  background-color: #353535;
}

.card-body {
  padding: 20px;
  background-color: #353535;
  color: #333;
  font-size: 16px;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.3s;
}

.card:hover .card-body {
  max-height: 250px;
}

.card-title {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title a:hover {
  max-width: none;
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
}

.card-img-top {
  width: 150px;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10%;
}

.platforms-heading {
  font-style: italic;
}

.platform-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 250px;
  height: 50px;
  border: 2px solid #000;
  padding: 20px;
  background-color: #f0f0f0;
}

.platform-name {
  color: rgb(14, 76, 43);
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

.remove-link {
  color: red;
  margin-left: 30px;
}

h1 {
  color: rgb(241, 129, 10);
}

.platforms-heading {
  font-style: italic;
  margin-bottom: 5px;
}

.platform {
  display: inline-block;
  margin-right: 50px;
  color: rgb(145, 224, 248);
  margin-bottom: 30px;
  font-size: 20px;
}

h2 {
  margin-top: 20px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 50%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 14px;
}

.content {
  padding: 0 10px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.content label {
  color: #333;
  display: block;
  margin-top: 5px;
}

.content input[type="text"],
.content select {
  width: calc(100% - 20px);
  padding: 6px;
  margin-top: 3px;
  margin-bottom: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 13px;
}

.content button[type="submit"] {
  background-color: #1404f8;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: calc(100% - 20px);
  font-size: 14px;
}

.content button[type="reset"] {
  background-color: #f1800a;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: calc(100% - 20px);
  font-size: 14px;
}